


<section class="home">


    
    <div class="marquee mb-5" [ngStyle]="{'background-image': 'url(assets/img/food-veg.jpeg)'}" sgRetainHeight="100vh">
        
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                
                <div class=" mt-auto">
                    <h1 class="title text-center font-outline p-3">Sustainable Living for Sustainable Lifestyles</h1>
                </div>
                
                <div class="mt-auto"><md-icon class="scroll-down">keyboard_arrow_down</md-icon></div>

            </div>
   
    </div>
  

    <div class="container-fluid">


        
        <p class="lead text-center mb-5 px-3">Select any of our Products below to learn more or purchase them for yourself.</p>

        <div class="card-deck">
        
            <div class="card text-center mb-5 image-tile dimmer"
                *ngFor="let bizdomain of bizdomains; let i=index" 
                
                [style.order]="bizdomain.order"
                [attr.order]="bizdomain.order"
                [sgBackgroundFixed]="bizdomain.image">
                <div class="card-block d-flex flex-column justify-content-center">
                    <h1 class="card-title font-outline-thickest">{{bizdomain.title}}</h1>
                    <p class="card-text font-outline-thickest">{{bizdomain.tagline}}</p>
                    <div class="text-right">
                        <a [routerLink]="['/detail/'+i]" class="btn btn-primary">Tell Me More!</a>
                    </div>
                </div>
            </div>

        </div>

        <p class="lead text-center mb-5 px-3">Remember kids, our products are super good and greener than the grinch!</p>

    </div>
</section>
